{% extends 'base.html.twig' %}

{% block title %}
    Team
{% endblock %}

{% block body %}
    {% include "header.html.twig" %}
    <h3>Team</h3>

    <div class="team__main-content">
        <ul class="member-list">
            {% for teamMember in teamMembers %}
                <li>
                    <h4>
                        {{ teamMember.firstName }}
                        {% if teamMember.lastName %}
                            {{ teamMember.lastName }}
                        {% endif %}
                        {% if teamMember.callName %}
                            - {{ teamMember.callName }}
                        {% endif %}
                    </h4>
                    <img src="{{ asset(teamMember.photo) }}" alt="photo of {{ teamMember.firstName }}" />
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}